html,
body {
  font-size: 16px;
  background-color: #fff;
  font-family: roboto, sans-serif;
  height: 96%;
  color: #111;
  font-weight: 400;
}
::-moz-selection {
  background: #fab205;
  color: #111;
}
::selection {
  background: #f2184f;
  color: #fff;
}
a:hover,
a:focus {
  color: #f2184f;
  text-decoration: none;
}
* a {
  color: #111;
  transition: all 0.3s 0s;
}
*:focus {
  outline: none !important;
}
a {
  cursor: pointer;
}
p {
  line-height: 1.6;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: raleway, sans-serif;
  font-weight: 700;
  margin: 0;
}
h1 {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}
h2 {
  font-size: 34px;
  color: #111;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
section {
  padding: 60px 0;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-l-0 {
  margin-left: 0;
}
.m-b-20 {
  margin-bottom: 20px;
}
.p-t-0 {
  padding-top: 0;
}
.p-b-0 {
  padding-bottom: 0;
}
.p-t-50 {
  padding-top: 50px;
}
.p-t-b-80 {
  padding: 80px 0;
}
.img-responsive {
  width: 100%;
}
.form-control:focus {
  outline: none !important;
  box-shadow: none;
  border-color: #f2184f;
}
.scrollup {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  z-index: 998;
  background: #f2184f;
  color: #fff;
  border-radius: 0;
  height: 50px;
  width: 50px;
  line-height: 50px;
  padding: 0;
  color: #fff !important;
  transition: all 0.3s ease 0s;
}
.scrollup:hover {
  background: #202c45;
}
.custom_btn {
  background: #f2184f;
  border: medium;
  border-radius: 0;
  font-weight: 600;
  padding: 13px 35px;
  position: relative;
  text-transform: uppercase;
  transform: perspective(1px) translateZ(0px);
  transition: all 0.59s ease 0s;
  color: #fff;
}
.custom_btn:hover::before {
  transform: scale(1);
}
.custom_btn::before {
  background: #202c45;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  z-index: -1;
}
.custom_btn:hover,
.custom_btn:focus,
.custom_btn:active {
  color: #fff;
}
.btn.focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}
.profile_btn {
  background: #202c45;
  border: medium;
  border-radius: 0;
  font-family: OpenSans-Bold;
  padding: 10px 20px;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  transform: perspective(1px) translateZ(0px);
  transition: all 0.59s ease 0s;
}
.profile_btn:hover::before {
  transform: scale(1);
}
.profile_btn::before {
  background: #f2184f;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  z-index: -1;
}
.profile_btn:hover,
.profile_btn:focus,
.profile_btn:active {
  color: #fff;
  background-color: #202c45;
}
.bg_grey {
  background: #f7f7f7;
}
.btn-info {
  background-color: #202c45;
  border-color: #202c45;
}
.btn-info:hover {
  background-color: #f2184f;
  border-color: #f2184f;
}
.carousel,
.item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}
.banner-slide {
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
  min-height: 700px;
}
.banner-slide:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
}
.banner .owl-dots {
  display: none;
}
.banner-text {
  z-index: 9999;
  position: relative;
}
.carousel_txt h1 {
  margin-bottom: 35px;
}
.carousel_txt p {
  font-size: 16px;
}
.banner .owl-nav {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}
.banner .owl-next {
  margin-left: auto;
}
.banner .owl-nav .owl-prev i:before,
.banner .owl-nav .owl-next i:before {
  box-shadow: 0 0 54px 0 rgba(47, 47, 47, 0.1);
  margin: 0;
  border-radius: 0;
  color: #ff1949;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  font-size: 30px;
  background: #fff;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
}
.banner .owl-nav .owl-prev i:hover:before,
.banner .owl-nav .owl-next i:hover:before {
  background: #202c45;
  color: #fff;
}
.toolbar {
  background: #488b4d;
  color: #ffffff;
  font-size: 12px;
}
.thim-have-any-question .mobile {
  display: inline-block;
  line-height: 30px;
  margin-left: 11px;
  padding: 10px 0;
}
.toolbar a {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}
.wel_blog:hover a {
  color: #fff;
}
.wel_blog a:hover {
  color: #f2184f;
}
.child_login {
  color: #fff;
  line-height: 30px;
  padding: 10px 0;
}
.child_login a {
  border-left: 1px solid #666;
  padding: 0 10px;
  font-weight: 700;
  color: #fff;
}
.child_login a:hover {
  color: #f2184f;
}
.navbar_menu {
  background: rgba(0, 0, 0, 0.8);
  border: medium;
  padding-top: 10px;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.navbar_menu .navbar-brand {
  color: #fff;
  font-family: opensans-bold;
  font-size: 36px;
}
.carousel-caption,
.carousel-indicators {
  z-index: 1;
}
.menu_bar {
  float: right;
}
.menu_bar .nav.navbar-nav a {
  color: #fff;
  font-family: OpenSans-Bold;
  font-size: 16px;
  margin: 10px 0;
  padding: 0 20px;
  text-transform: capitalize;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: transparent;
}
.menu_bar .nav.navbar-nav a:hover,
.menu_bar .nav.navbar-nav a.active {
  color: #fab205;
  background: 0 0;
}
.menu_bar .nav.navbar-nav > li:last-child a {
  padding-right: 0;
}
.navbar-fixed-top {
  background: #111;
  padding: 15px;
  position: fixed;
  z-index: 9999;
}
.navbar-fixed-top .navbar-brand {
  padding-top: 10px;
}
.modal-dialog.login_modal {
  width: 500px;
}
.tital_border {
  border: 2px solid #f2184f;
  width: 100px;
  display: inline-block;
}
.tital_border_tow {
  border: 1px solid #f2184f;
  width: 70px;
  display: inline-block;
}
.wel_blog {
  background: #f2184f none repeat scroll 0 0;
  padding: 30px 25px;
  text-align: center;
  transition: all 0.59s ease 0s;
  color: #fff;
}
.wel_blog .fa {
  font-size: 50px;
}
.wel_blog:hover {
  background: #202c45 none repeat scroll 0 0;
  color: #fff;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.59s ease 0s;
}
.wel_blog p {
  font-size: 12px;
  min-height: 75px;
  color: #fff;
}
.wel_blog a {
  color: #fff;
}
.wel_blog:hover p {
  color: #fff;
}
.wel_blog h5 {
  margin: 15px 0 20px;
}
.study_block,
.study_block * {
  transition: all 0.3s ease 0s;
}
.study_block {
  border: 2px solid #202c45;
  padding: 20px 15px;
  margin: 30px 0 0;
}
.icon_block {
  margin-top: -50px;
}
.icon_block i {
  color: #202c45;
  font-size: 32px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 100px;
  background: #fff;
  text-align: center;
  border: 2px solid #202c45;
}
.study_info h3 {
  margin: 15px 0;
  color: #202c45;
}
.study_info p {
  font-weight: 600;
}
.study_info .read_more {
  margin-top: 20px;
  display: block;
}
.study_block:hover {
  border-color: #f2184f;
}
.study_block:hover .icon_block i {
  border-color: #f2184f;
  color: #f2184f;
}
.study_block:hover h3 {
  color: #f2184f;
}
.register_bg {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(32, 44, 69), rgba(0, 0, 0, 0.6)),
    url("../images/Gallery/mb11.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.register_now > h2 {
  color: #fff;
  margin: 35px 0;
}
.register_now a {
  color: #f2184f;
  font-size: 28px;
}
.right_icon {
  color: #f2184f;
  font-family: ptserif-italic;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.7px;
  margin-bottom: 50px;
}
.clock_countdown {
  padding: 0;
}
.clock_countdown li {
  border: 2px solid #f2184f;
  display: inline-block;
  margin: 0 15px;
  padding: 20px;
  text-align: center;
  width: 17%;
}
.clock_countdown li p {
  color: #fff;
  font-family: opensans-bold;
  text-transform: uppercase;
  padding-top: 10px;
}
.register_now_form {
  background: #fff;
}
.register_title {
  background-color: #f2184f;
  border-radius: 0 0 100% 100%;
  color: #fff;
  line-height: 1.5;
  padding: 40px;
  text-align: center;
}
.form_det {
  padding: 40px 25px;
}
.form_det input {
  border-radius: 0;
  height: 45px;
  margin-bottom: 0;
  padding: 0 20px;
}
.form_btn {
  background-color: #202c45;
  border: medium;
  border-radius: 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
  padding: 10px 0;
  width: 100%;
  transition: all 0.59s ease 0s;
}
.form_btn:hover,
.form_btn:active,
.form_btn:focus {
  background-color: #f2184f;
  color: #fff;
  transition: all 0.59s ease 0s;
}
.teacher_text .profile_btn {
  margin-top: 10px;
}
.teacher_text h6 {
  color: #ababab;
  font-weight: 700;
}
.custom_hover_img::after {
  background: transparent url(../images/hover_icon.png) no-repeat scroll center
    center;
  content: "";
  height: 29px;
  left: 50%;
  margin-left: -14.5px;
  margin-top: -14.5px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: scale(0);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    opacity 0.4s ease 0s;
  width: 29px;
  z-index: 2;
}
.custom_hover_img::before {
  background: #202c45 none repeat scroll 0 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    opacity 0.4s ease 0s;
  width: 100%;
  z-index: 1;
}
.custom_hover_img:hover::before {
  opacity: 0.7;
  transform: scale(1);
}
.custom_hover_img:hover::after {
  opacity: 1;
  transform: scale(1);
}
.custom_hover_img {
  display: block;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}
.custom_hover_img:hover img {
  transition: all 0.5s ease 0.1s;
}
.custom_hover_img:hover img {
  transform: scale(1.1) rotate(1deg);
}
.teacher_text p {
  font-family: opensans-bold;
}
.teacher_text a {
  font-size: 16px;
}
.teacher_text a:hover {
  color: #f2184f;
}
.new_blgo {
  margin-bottom: 20px;
  position: relative;
}
.news_date {
  background: #202c45 none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  display: inline-block;
  left: 25px;
  padding: 10px 20px;
  position: absolute;
  z-index: 1;
}
.new_border {
  border: 2px solid #202c45;
  margin-left: 25px;
  margin-top: 10px;
}
.author_name span {
  border-left: 2px solid #ababab;
  color: #666;
  font-family: ptserif-italic;
  font-size: 16px;
  padding: 0 10px;
}
.author_name > span:first-child {
  border: medium;
  padding-left: 0;
}
.author_name a,
.author_name p {
  color: #666;
}
.author_name a:hover {
  color: #202c45;
}
.author_name h5 {
  margin: 20px 0;
}
.author_name h5 a {
  color: #111;
  font-size: 16px;
}
.news_sec .owl-nav {
  position: absolute;
  top: -70px;
  right: 0;
}
.news_sec .owl-carousel .owl-nav .owl-prev,
.news_sec .owl-carousel .owl-nav .owl-next {
  padding: 0 0 0 10px !important;
}
.news_sec .owl-nav .owl-prev i:before,
.news_sec .owl-nav .owl-next i:before {
  box-shadow: 0 0 54px 0 rgba(47, 47, 47, 0.1);
  margin: 0;
  border-radius: 0;
  color: #ff1949;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  font-size: 30px;
  background: #fff;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
}
.news_sec .owl-nav .owl-prev i:hover:before,
.news_sec .owl-nav .owl-next i:hover:before {
  background: #202c45;
  color: #fff;
}
.newsletter_sec {
  background: #202c45;
  padding: 50px 0;
}
.newsletter_text h2,
.newsletter_text p {
  color: #fff;
}
.subscribe_form input {
  border: medium;
  height: 50px;
  padding-left: 10px;
  width: 70%;
}
form.form-group.subscribe_form .custom_btn::before {
  background: #111;
}
.newsletter_text .tital_border {
  margin: 10px 0;
}
footer {
  background: #488b4d;
  padding: 50px 0;
}
.footer_title h2 {
  color: #fff;
  font-family: opensans-regular;
  margin-bottom: 30px;
}
.footer_title > p {
  color: #ffffff;
}
.social_icon li {
  display: inline-block;
}
.social_icon {
  margin-top: 30px;
}
.social_icon a {
  border: 1px solid #f2184f;
  color: #f2184f;
  display: inline-block;
  margin-right: 14px;
  padding: 8px 12px;
  font-size: 16px;
}
.social_icon a:hover {
  background-color: #f2184f;
  color: #fff;
}
.social_icon a i {
  transition: all 0.4s ease 0s;
}
.social_icon a:hover i {
  transform: rotate(360deg);
}
.footer_link {
  padding-left: 20px;
}
.footer_link > li {
  margin-bottom: 20px;
}
.event_blog,
.contact_us {
  padding: 0;
}
.event_blog li {
  display: inline-block;
  margin: 0 10px 15px 0;
}
.contact_us li {
  color: #ffffff;
  margin: 10px 0;
}
.footer_title a {
  color: #fcfcfc;
  transition: all 0.3s ease 0s;
}
.contact_us a:hover,
.footer_link a:hover {
  color: #f2184f;
}
.footer_link i {
  transition: all 0.3s ease 0s;
}
.footer_link a:hover i {
  margin-right: 5px;
}
.copy_right {
  background: black none repeat scroll 0 0;
  padding: 20px 0;
  text-align: center;
}
.copy_right p {
  color: #ffffff;
}
.header_bg,
.course_bg,
.teacher_bg,
.event_bg,
.blgo_bg,
.contact_bg,
.gallery_bg {
  background-image: url(../images/Pix.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  background-position: center;
}
.header_title {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.breadcrumb_bg {
  background: #199ace;
  display: inline-block;
  width: 100%;
}
.breadcrumb_menu > li {
  display: inline-block;
  padding: 15px 0;
}
.breadcrumb_menu a {
  color: #fff;
}
.breadcrumb_menu a:hover {
  color: #fab205;
}
.breadcrumb-arrow {
  margin: 20px 0;
}
.breadcrumb-arrow li:first-child a {
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
}
.breadcrumb-arrow li,
.breadcrumb-arrow li a,
.breadcrumb-arrow li span {
  display: inline-block;
  vertical-align: top;
}
.breadcrumb-arrow li:not(:first-child) {
  margin-left: -5px;
}
.breadcrumb-arrow li + li:before {
  padding: 0;
  content: "";
}
.breadcrumb-arrow li span {
  padding: 0 10px;
}
.breadcrumb-arrow li a,
.breadcrumb-arrow li:not(:first-child) span {
  height: 36px;
  padding: 0 10px 0 25px;
  line-height: 36px;
}
.breadcrumb-arrow li:first-child a {
  padding: 0 10px;
}
.breadcrumb-arrow li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  background-color: #f2184f;
  border: 1px solid #f2184f;
}
.breadcrumb-arrow li:first-child a {
  padding-left: 10px;
}
.breadcrumb-arrow li a:after,
.breadcrumb-arrow li a:before {
  position: absolute;
  top: -1px;
  width: 0;
  height: 0;
  content: "";
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}
.breadcrumb-arrow li a:before {
  right: -10px;
  z-index: 3;
  border-left-color: #f2184f;
  border-left-style: solid;
  border-left-width: 11px;
}
.breadcrumb-arrow li a:after {
  right: -11px;
  z-index: 2;
  border-left: 11px solid #f2184f;
}
.breadcrumb-arrow li a:focus,
.breadcrumb-arrow li a:hover {
  background-color: #f2184f;
  border: 1px solid #f2184f;
}
.breadcrumb-arrow li a:focus:before,
.breadcrumb-arrow li a:hover:before {
  border-left-color: #f2184f;
}
.breadcrumb-arrow li a:active {
  background-color: #2494be;
  border: 1px solid #2494be;
}
.breadcrumb-arrow li a:active:after,
.breadcrumb-arrow li a:active:before {
  border-left-color: #2494be;
}
.breadcrumb-arrow li span {
  color: #434a54;
}
.event_title {
  border: 1px solid #e0e0e0;
  margin-bottom: 30px;
}
.event_title a:hover {
  color: #f2184f;
}
.event_title h4 {
  margin-bottom: 15px;
  margin-top: 20px;
  text-align: center;
}
.event_title p {
  margin-bottom: 20px;
  text-align: center;
}
.event_price {
  background-color: #f4f4f4;
  border-top: 1px solid #e0e0e0;
  padding: 10px;
  font-family: raleway-bold;
}
.event_price p {
  color: #f2184f;
  display: inline-block;
  margin: 0;
}
.event_price span {
  float: right;
  padding-right: 15px;
}
.event_price .fa {
  padding: 0 5px;
}
.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/page-loader.gif) 50% 50% no-repeat #f9f9f9;
}
.coures_pagination li {
  display: inline-block;
}
.coures_pagination a {
  border: 1px solid #111;
  font-size: 18px;
  padding: 10px 20px;
}
.coures_pagination a:hover {
  background: #f2184f;
  border-color: #f2184f;
  color: #fff;
}
.coures_searchbox ul li {
  border-bottom: 2px dotted #111;
  padding-bottom: 11px;
  padding-top: 20px;
}
.coures_searchbox ul li a:hover {
  color: #f2184f;
}
.coures_searchbox ul li:first-child {
  padding-top: 0;
}
.coures_searchbox button,
.search-query.form-control {
  border-radius: 0;
}
.post_title {
  margin: 30px 0;
}
.post_text a:hover {
  color: #f2184f;
}
.post_title p {
  color: #ababab;
  margin-top: 20px;
}
.admin_profile {
  border-right: 1px solid #ababab;
  display: flex;
}
.admin_profile {
  align-items: center;
  border-right: 2px solid #ababab;
  height: 50px;
  margin: 30px 0;
}
.admin_profile h5 {
  margin-left: 30px;
}
.admin_profile .fa {
  font-size: 40px;
}
.admin_profile .fa-star {
  color: #fab205;
  font-size: 16px;
}
.course_bg,
.teacher_bg,
.event_bg,
.blgo_bg,
.contact_bg,
.gallery_bg {
  background-color: #199ace;
  background-image: url(../images/Pix0002\ \(1\).jpg);
}
.nav-tabs {
  border: 0;
}
.course_tab_hd ul li a {
  border-radius: 0;
  color: #000;
}
.course_tab_hd ul li a:hover {
  background-color: #f2184f;
  color: #fff;
  transition: 0.59s;
}
.course_tab_hd ul li a:hover p,
.nav-tabs > li.active > a p,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover p {
  color: #fff;
}
.course_tab_hd ul li a {
  border: 1px solid #ababab;
  background-color: #f9f9f9;
  padding: 12px 15px;
}
.course_tab_hd ul li a i {
  padding-right: 10px;
}
.course_tab_hd ul li a p {
  display: inline-block;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #fff;
  background: #f2184f;
}
.course_tab_hd .nav li {
  width: calc(25% - 6px);
  display: grid;
  text-align: center;
  margin: 0 3px;
}
.progress {
  height: 10px;
  width: 90%;
}
.progress-bar {
  background-color: #f2184f;
}
.progress-bar_1 {
  width: 100%;
}
.progress-bar_2 {
  width: 50%;
}
.progress-bar_3 {
  width: 80%;
}
.course_study_det ul li {
  padding-bottom: 5px;
}
.course_study_det ul li i {
  padding-right: 15px;
  font-size: 16px;
}
.register_heding {
  color: #fff;
  font-family: raleway-bold;
  font-size: 36px;
  text-transform: uppercase;
}
.teacher_bg {
  background-image: url(../images/Pix0001.jpg);
  background-position: 50% 50%;
}
.teacher_contect a {
  margin-right: 20px;
}
.teacher_contect {
  margin-top: 15px;
}
.teacher_contect .fa {
  color: #f2184f;
  margin-right: 15px;
}
.teacher_contect p {
  color: #666;
}
.counter_bg {
  background-attachment: fixed;
  background-image: url(../images/teachers/counter_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
  background-position: center;
}
.counter_text {
  color: #fff;
  text-align: center;
}
.counter_text .fa {
  font-size: 54px;
}
.counter_text > h1 {
  margin: 20px 0 25px;
}
.counter_title {
  color: #fff;
  font-size: 36px;
}
.counter_text h4 {
  text-transform: uppercase;
}
.skill_border {
  border: 1px solid #ababab;
}
.skill_title {
  padding: 30px;
}
.event_bg {
  background-image: url(../images/event/event_bg.png);
}
.event_text a {
  font-size: 18px;
}
.event_text a:hover {
  color: #f2184f;
}
.event_img {
  margin: 30px 0;
  overflow: hidden;
}
.event_img:hover img {
  transform: scale(1.1) rotate(2deg);
  transform-origin: center center 0;
}
.event_img img {
  transition: all 0.8s ease 0s;
}
.event_text .fa {
  color: #f2184f;
  margin-right: 7px;
}
.event_clock {
  float: right;
}
.event_text > p {
  color: #666;
  margin: 15px 0;
}
.event_text {
  color: #666;
}
.profile_detail h2 {
  margin: 30px 0 20px;
}
.profile_detail .info-box label {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
}
.profile_detail .info-box span {
  color: #666;
  font-size: 14px;
}
.profile_detail p {
  color: #666;
  margin-bottom: 20px;
}
.profile_detail .point-list li::after {
  content: "\f101";
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  top: 0;
}
.profile_detail .point-list li {
  color: #666;
  font-size: 16px;
  line-height: 30px;
  padding: 0 0 0 20px;
  position: relative;
}
.event_mapping {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.blgo_bg {
  background-image: url(../images/blog/blog_bg.png);
}
.blog_date {
  border: 2px solid #f2184f;
  color: #f2184f;
  padding: 10px;
  text-align: center;
}
.blog_date h2 {
  color: #f2184f;
}
.blog_text a {
  font-size: 16px;
}
.blog_text a:hover {
  color: #f2184f;
}
.blog_grid {
  margin: 20px 0 50px;
}
.blog_text span {
  color: #202c45;
  display: inline-block;
  margin: 15px 5px;
  font-size: 14px;
}
.blog_text .block_color {
  color: #fff;
}
.blog_text p {
  color: #111;
}
.blog_list h4 {
  color: #202c45;
  margin-top: 20px;
}
.blog_list a {
  font-size: 18px;
}
.blog_list p {
  margin: 15px 0;
}
.blog_btn a {
  border: 1px solid #f2184f;
  border-radius: 100%;
  color: #f2184f;
  display: inline-block;
  height: 30px;
  line-height: 2;
  margin: 5px;
  text-align: center;
  width: 30px;
}
.blog_btn a:hover {
  background: #f2184f;
  color: #fff;
}
.blog_btn span {
  float: right;
}
.blog_list blockquote {
  background: #f2184f;
  border-left: 0;
  font-family: Raleway-Bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 26px;
  padding: 28px 70px 50px 106px;
  position: relative;
  color: #fff;
}
.blog_list blockquote::before {
  color: #202c45;
  content: "\f10d";
  font-family: fontawesome;
  font-size: 36px;
  left: 5%;
  line-height: 2;
  position: absolute;
}
.comment_slide {
  display: block;
  width: 100%;
}
.comment_box::after {
  background: #f2184f;
  bottom: -2px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 100px;
  transition: all 0.8s 0s;
}
.comment_box:hover::after {
  width: 100%;
  transition: all 0.3s 0s;
}
.comment_box {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 0 0 20px 130px;
  position: relative;
}
.comment_box .comment_img {
  left: 0;
  position: absolute;
  top: 0;
}
.comment_box .replay {
  position: absolute;
  right: 0;
  top: 0;
}
.comment_box .replay a {
  color: #666;
  font-size: 16px;
}
.comment_box .replay a:hover {
  color: #f2184f;
}
.comment_box .replay .fa {
  padding: 0 5px 0 0;
}
.comment_box .date {
  color: #666;
  display: block;
  line-height: 20px;
  padding: 10px 0;
}
.comment_box p {
  color: #666;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
.comment_reply {
  margin-left: 110px;
}
.contact_bg {
  background-image: url(../images/contact/contact_bg.png);
}
.emial_icon {
  text-align: center;
}
.emial_icon .fa {
  border: 2px solid #f2184f;
  border-radius: 100%;
  color: #f2184f;
  font-size: 34px;
  height: 80px;
  line-height: 78px;
  width: 80px;
}
.emial_icon .fa:hover {
  background: #f2184f;
  color: #fff;
}
.emial_icon h5 {
  padding: 20px 0;
}
.contact_form1 {
  max-width: 800px;
}
.contact_form1 .form-control {
  border: 2px solid #ababab;
  border-radius: 0;
  font-family: opensans-bold;
  height: 40px;
}
.contact_form1 .form_message {
  margin: 30px 0;
  min-height: 200px;
}
.map_icon {
  color: #f2184f;
  float: left;
  font-size: 36px;
  line-height: 36px;
  margin-right: 20px;
  width: 35px;
}
.icon_box {
  border-top: 1px solid #ababab;
  padding: 15px 0;
}
.contact_us1 div > p {
  color: #666;
  font-family: opensans-bold;
  font-size: 12px;
}
.contact_us1 div > span {
  color: #666;
  font-size: 12px;
}
.contact_us1 span a {
  color: #666;
  font-size: 12px;
}
.coantct-map iframe {
  height: 350px;
}
.gallery_bg {
  background-image: url(../images/Gallery/mb2.jpeg);
}
#gallery-header-center-left-title {
  color: #111;
  float: left;
  font-family: opensans-bold;
  font-size: 28px;
  line-height: 25px;
}
.masonry_gallery {
  margin-bottom: 50px;
}
.masonry_gallery .filter-button-group {
  text-align: right;
}
.masonry_gallery .button {
  background: 0 0;
  border: medium;
}
.masonry_gallery .button.active {
  background: #32bee9 none repeat scroll 0 0;
  color: #fff;
  padding: 10px;
}
.gallery_btn {
  color: #f2184f;
  border: 1px solid #f2184f;
  border-radius: 0;
}
.gallery_btn:hover {
  background: #202c45;
  color: #fff;
  border: 1px solid #202c45;
  border-radius: 0;
}
#scroll-top .to-top a i:before {
  margin: 0;
  font-size: 16px;
}
#scroll-top .to-top:hover {
  background: #ff0 none repeat scroll 0 0;
  color: #283754;
}
.is-hidden--off-flow {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: -10;
  visibility: hidden;
}
.is-shown--off-flow {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  visibility: visible;
}
.l-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: 0 auto;
  z-index: 9;
  text-align: center;
}
.l-modal__shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  background: #161616;
  opacity: 0.92;
  z-index: -1;
  cursor: url(../images/cursor.png), auto;
}
.login_popup {
  display: inline-block;
  text-align: center;
  background: #fff;
  max-width: 550px;
  width: 100%;
  line-height: 1.48;
}
.login_signup_option {
  background: #2f2f2f;
  position: relative;
  z-index: 9999;
}
.login_signup_option .login_option_btn .nav-tabs {
  border: none;
  padding: 20px 40px;
  background: #fff;
}
.login_signup_option .login_option_btn .nav-tabs .nav-item {
  margin-right: 30px;
}
.login_signup_option .login_option_btn .nav-tabs .nav-item:last-child {
  margin-right: 0;
}
.login_signup_option .login_option_btn .nav-tabs .nav-item .nav-link {
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: #2f2f2f;
  padding: 0;
  background: 0 0;
}
.login_signup_option .login_option_btn .nav-tabs .nav-item .nav-link.active,
.login_signup_option .login_option_btn .nav-tabs .nav-item .nav-link:hover {
  color: #ff1949;
}
.login_signup_option .tab-content {
  border: none;
  background: #f5f7fa;
  padding: 40px;
}
.login_signup_option .login_modal_body {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 550px;
  background: #f5f7fa;
}
.login_signup_option .login_modal_body form .form-group {
  margin-bottom: 25px;
}
.login_signup_option .login_modal_body form .form-group label {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  color: #2f2f2f;
  width: 100%;
}
.login_signup_option .login_modal_body form .form-group input {
  background: 0 0;
  border: 1px solid rgba(47, 47, 47, 0.3);
  border-radius: 0;
  box-shadow: 0 0 10px 0 transparent;
  height: 56px;
  padding: 10px 15px;
  transition: all 0.5s ease 0s;
  width: 100%;
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 400;
}
.login_signup_option .login_modal_body form .form-group input:focus {
  border-color: #ff1949;
  outline: none;
  box-shadow: none;
}
.login_signup_option
  .login_modal_body
  form
  .form-group
  input::-webkit-input-placeholder {
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 400;
}
.login_signup_option
  .login_modal_body
  form
  .form-group
  input::-moz-placeholder {
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 400;
}
.login_signup_option
  .login_modal_body
  form
  .form-group
  input:-ms-input-placeholder {
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 400;
}
.login_signup_option .login_modal_body form .form-group input:-moz-placeholder {
  color: #2f2f2f;
  font-size: 16px;
  font-weight: 400;
}
.login_signup_option .login_modal_body form .login_option {
  margin-top: 15px;
}
.login_signup_option .login_modal_body form .login_option .forget_pass {
  color: #ff1949;
  font-size: 16px;
  font-weight: 600;
  padding: 0 !important;
  margin: 0;
  line-height: 54px;
}
.login_signup_option .login_modal_body form .login_option .login_btn {
  height: 54px;
  padding: 0 35px;
  border-radius: 0;
  background: #ff1949;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.login_signup_option .login_modal_body form .login_option .login_btn:hover {
  background: #2f2f2f;
}
.login_signup_option .login_modal_body form .social_login {
  margin-top: 40px;
}
.login_signup_option .login_modal_body form .social_login .social_items {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .google_login {
  height: 54px;
  width: 48%;
  border: none;
  margin-bottom: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .google_login:last-child {
  margin-bottom: 0;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .google {
  background: #d14c3e;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .google:hover {
  background: #a73d32;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .facebook {
  background: #3d5a95;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .facebook:hover {
  background: #314877;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .twitter {
  background: #57acea;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .twitter:hover {
  background: #468abb;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .linkdin {
  background: #008cc9;
}
.login_signup_option
  .login_modal_body
  form
  .social_login
  .social_items
  .linkdin:hover {
  background: #007bb6;
}
.login_signup_option .login_modal_body .register {
  text-align: center;
}
.logo-block {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 15px;
}
.navbar-brand img {
  width: 100px;
}
